.compare-mode-switch {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 450px;
  }
  
  .button-container {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .left-rect, .right-rect {
    flex: 1;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .left-rect {
    background-color: red;
  }
  
  .right-rect {
    background-color: gray;
  }
  
  .circle {
    background-color: white;
    color: black;
    padding: 10px;
    font-weight: bold;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }
  
  .compare-mode-text {
    margin-top: 10px;
    color: gray;
    font-size: 0.8em;
    display: flex;
    align-items: center;
  }
  
  .info-icon {
    font-style: normal;
    font-weight: bold;
    color: gray;
    margin-right: 5px;
  }
  
  .compare-mode-switch {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .compare-mode-switch label {
    font-size: 14px;
    cursor: pointer;
  }
  
  .compare-mode-switch input {
    margin-right: 5px;
  }
  @media (max-width: 600px) {
    .compare-mode-switch {
      margin-top: 20px;
    }
  
    .left-rect, .right-rect {
      padding: 5px 10px;
    }
  
    .circle {
      padding: 5px;
    }
  
    .compare-mode-text {
      font-size: 0.7em;
    }
  }