.main-container {
  display: flex;
  flex-direction: column;
  height: 200vh; 
  overflow: auto;
}

.top-container {
  display: flex;
  height: 75vh; 
}

.bottom-container {
  height: 125vh;
  overflow-y: auto;
  background-color: white; 
}

.box {
  flex: 1;
  margin: 10px;
  display: flex;
  flex-direction: column;
}


.empty-box {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #dde0e3;
}


.top-box {
  height: 16.67%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #dde0e3;
}

.middle-box {
  height: 66.67%;
  display: flex;
 
}

.bottom-box {
  height: 16.67%;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Adjust to space between items */
  padding: 0 10px;
}

.left-box {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px; /* Add padding for spacing */
}

.right-box {
  flex: 1;
  align-items: center;
  justify-content: center;
}

.phone-name {
  margin-bottom: 10px; /* Add margin between the name and image */
  font-size: 1.2em;
  text-align: center;
  color: gray;
  
}

.phone-image {
  max-width: 100%;
  height: auto;
}

.comparison-table {
  width: 100%;
  border-collapse: collapse;
}

.comparison-table tr {
  border: 6px solid #dde0e3;;
}

.comparison-table td {
  border: 3px solid #dde0e3;;
  
  padding: 10px;
}

.row-1 {
  height: 7.14%; 
}

.row-2 {
  height: 14.29%; 
}

.row-3 {
  height: 28.57%;
}

.row-4 {
  height: 21.43%; 
}

.row-5 {
  height: 28.57%; 
}

.col {
  width: 33.33%;
}

.col-1-1, .col-1-2 {
  width: 16.67%; 
}

.cell-top {
  border-bottom: 0.5px solid #dde0e3;; 
}

.cell-bottom {
  border-top: 0.5px solid #dde0e3;;
}

.cell-1 {
  border-bottom: 0.5px solid #dde0e3;; 
}

.cell-2 {
  border-top: 0.5px solid #dde0e3;;
  border-bottom: 0.5px solid #dde0e3;; 
}

/* New Styles */
.category {
  color: red;
  font-weight: bold;
  font-size: 1.3em;
}

.subcategory {
  color: gray;
  font-weight: bold;
  font-size: 0.9em;
  text-align: left; 
}

.sub-sub{
  color: black;
  font-size: 0.8em;
  text-align: left;
  font-weight: bold; 
}

.price {
  color: red;
  font-size: 1.7em;
  margin-bottom: 10px;
  font-weight: bold; 
}

.logo {
  height: 70px; 
  margin-left: 10px;
  margin-top: 30px; 
}

.all-prices {
  color: red;
  font-size: 2em; 
  margin-left: auto;
  font-weight: bold; 
}

.thumbnail{
  width: 100%;
  margin-top: 30px;
}

/* Add your existing styles */

.similar {
  color: gray;
}

.different {
  color: black;
}

.thumbnail-container {
  position: relative;
  display: inline-block;
}

.thumbnail-container .play-logo {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  width: 50px; /* Adjust size as needed */
  height: 50px; /* Adjust size as needed */
  background: url('../assets/logo2.png') no-repeat center center;
  background-size: contain;
}

.thumbnail-container:hover .play-logo {
  display: block;
}

.thumbnail-container .thumbnail {
  cursor: pointer;
}

@media (max-width: 768px) {
  .top-container {
    flex-direction: column; /* Switch to column layout for smaller screens */
  }

  .middle-box {
    flex-direction: column; /* Switch to column layout for smaller screens */
  }

  .comparison-table td {
    font-size: 0.7em; /* Adjust font size for smaller screens */
    padding: 5px; /* Adjust padding for smaller screens */
  }

  .price {
    font-size: 1.2em; /* Adjust font size for smaller screens */
  }

  .all-prices {
    font-size: 1.5em; /* Adjust font size for smaller screens */
  }

  .phone-name {
    font-size: 1em; /* Adjust font size for smaller screens */
  }

  .category {
    font-size: 1em; /* Adjust font size for smaller screens */
  }

  .subcategory {
    font-size: 0.7em; /* Adjust font size for smaller screens */
  }

  .sub-sub {
    font-size: 0.6em; /* Adjust font size for smaller screens */
  }
}
