.text-box {
    width: 100%;
    margin-top: 80px;
  }
  
  .text-field {
    padding: 5px;
    background-color: #f0f0f0; 
    border-bottom: 1px solid #ccc; 
    cursor: pointer;
  }
  
  .text-field:hover {
    background-color: #ef0909; 
    color: #fff; 
  }
  
  .text-field:first-child {
    background-color: #333; 
    color: #fff; 
  }
  @media (max-width: 600px) {
    .text-box {
      margin-top: 20px;
    }
  
    .text-field {
      padding: 10px;
      font-size: 1em;
    }
  }